*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   
}
body{
   background-color: #D3F2D3;
}

.head{
   display: flex;
   justify-content: space-between;
   background-color: #F3C4BB;
   border: 2px solid black;
   border-radius: 25px;
   text-align: center;
   margin: 20px;

}

.head #logo{
   align-items: center;
   display: flex;
   justify-content: center;
   text-align: center;
   line-height: 30px;
   font-size: 30px;
}
.head #titulo{

   align-items: center;
   display: flex;
   justify-content: center;
   color: black;
   font-family: 'Lobster', cursive;
   font-size: 35px;
}

.menu{
   border: 2px solid black;
   background-color: #A1E5F2;
   border-radius: 10px;
   margin: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.menu #opciones{
   background-color: rgb(0, 0, 0) transparent;
   

}
.menu #redes{
   background-color: rgb(0, 0, 0) transparent;
   
}
.menu #opciones ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}
.menu #opciones li{
   float: left;
   padding-right: 25px;
}
.menu #opciones li a{
   display: block;
   text-align: center;
   padding: 15px 35px;
   text-decoration: none;
   font-family: 'Lobster', cursive;
   color: black;
   font-size: 30px;
   
   

}
.menu #redes ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}
.menu #redes li{
   float: left;
   padding-left: 10px;
}
.menu #redes li a{
   display: block;
   text-align: center;
   padding: 5px;
   text-decoration: none;
}
.menu #redes li a img{
   margin: 5px;   
}
.menu #opciones li a:hover {
   background-color: #5ADBF4;
   color: black;
}
.menu #redes li a:hover {
   background-color: #5ADBF4;
   color: black;
}

.dato{
   width: 95%;
   margin: 20px;
   padding: 20px;
   background-color: #F2E4C7;
   border-radius: 25px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   font-family: 'Lobster';
   align-items: center;
   border: 2px solid black;
   margin: auto;
   margin-bottom: 20px;
   }
.dato img{
   width: 50%;
   height: auto;
   border-radius: 25px;
   margin: 25px;
   align-items: center;
   border: 2px solid black;
}
.dato h2{
   font-size: 45px;
   margin: 20px;
}
.dato .texto{
   text-align: justify;
   font-size: 35px;
   margin: 20px;
}
.dato div{
   margin: 25px;
}
.dato hr{
   border-color: black;
}

.menu_gen{
   width: 95%;
   background-color: #F2E4C7;
   display: flex;
   flex-direction: column;
   margin: auto;
   border-radius: 20px;
   margin-top: 25px;
   border: 5px solid black;
   justify-content: stretch;
   font-family: 'Lobster';

}
.menu_gen h1{
   text-align: center;
   margin: 30px;
   font-size: 85px;
   text-decoration: underline;
}
.comida ul {
   text-align: left;
   font-size: 35px;
   list-style: none;
   padding: 20px;
   margin: 25px;
}
.comida h2{
   font-size: 60px;
}
.comida h3{
   padding: 20px;
   margin: 20px;
   font-size: xx-large;
}
.comida h4{
   margin: 10px;
   font-size: 50px;
}
.crepas h3{
   font-size: 60px;
}
.comida{
   background-color: #E3E2A3;
   margin: 35px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   border: 5px solid black;
   text-align: center;
   justify-content: center;
   align-content: stretch;
}
.comida h2{
   width: 96%;
}
.comida div{
   background-color: #FFFBDE;
}

.fresas{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 5px dotted black;
   flex: auto;

}
.fresas h3{
   padding: 20px;
}
.duraznos{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 5px dotted black;
   flex: auto;


}
.crepas{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 5px dotted black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: center;
   flex: auto;
}
.crepas h3{
   width: 95%;
}
.extras{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 5px dotted black;
   flex: auto;


}
.pasteleria{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 5px dotted black;
   flex: auto;
}
.pasteleria img{
   width: 70%;
   margin: 10px;
   height: 45%;
   border-radius: 20px;
}
.crepas img{
   height: 350px;
   border-radius: 20px;
   margin: 50px;
}
.bebidas{
   background-color: #CCF9E6;
   margin: 20px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   border: 5px solid black;
   text-align: center;
   justify-content: center;
   align-content: stretch;
}
.bebidas h2{
   font-size: 60px;
   width: 95%;
}
.bebidas div{
   background-color: #ECF9CC;
   border: 5px dotted black;
   border-radius: 15px;
   margin: 20px;
   padding: 20px;
}
.bebidas ul{
   list-style: none ;
}
.bebidas h3{
   font-size: 39px;
   margin: 20px;
   padding: 20px;
}
.bebidas img{
   padding: 15x;
   margin: 15px;
   border-radius: 15px;
   border: 1px solid black;
}
.malteadasFrapes{
   text-align: left;
}
.malteadasFrapes ul{
   margin: 30px;
}
.bebidas li {
   font-size: 30px;
}
.malteadasFrapes{
   flex: auto;
}
.cafe{
   flex: auto;
}
.otros{
   flex: auto;
}
.galeria {
   height: 650px;
   width: 65%;
   margin:1em auto;
   border: 3px dotted black;
   border-radius: 25px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F2E4C7;
}
.galeria img {
   position: absolute;
   width: 470px;
   opacity: 0;
   transition: opacity 3s;
   display: block;
   margin: 10px;
   border-radius: 25px;
}

.galeria input[type=radio] {
   position: relative;
   bottom: calc(-300px - 1.5em);

   width: 10%;
   height: 2em;
}
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
   opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
   opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
   opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
   opacity: 1;
}

.promociones {
   background-color: #F2E4C7;
   margin: 35px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   border: 5px solid black;
   text-align: center;
   justify-content: center;
   align-content: stretch;
   font-family: 'Lobster';
}
.promociones h1{
   width: 95%;
   text-align: center;
   font-size: 50px;

}
.promociones div{
   flex: auto;
   margin: 15px;
   padding: 20px;
   border-radius: 20px;
   border: 4px dotted black;
   font-size: x-large;
   background-color: #FCC1B7;
}
.mapa{
   background-color: #F2E4C7;
   margin: 35px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black;
   text-align: center;
   justify-content: left;
   align-content: stretch;
   font-family: 'Lobster';
}
.mapa h2{
   width: 95%;
   text-align: center;
   font-size: 50px;
   margin: auto;
   margin-top: 20px;
}

.mapa iframe{
   border-radius: 25px;
   margin: 20px;
   border: 2px solid black;
}
.mapa div {
   margin: 20px;
}
.mapa h3{
   font-size: 35px;
}

footer{
   text-align: right;
   padding: 20px;
   font-family: Arial, Helvetica, sans-serif;
}