*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   
}
body{
   background-color: #D3F2D4;
}

.head{
   display: flex;
   justify-content: space-between;
   background-color: #F3C4BB;
   border: 2px solid black;
   border-radius: 25px;
   text-align: center;
   margin: 20px;

}

.head #logo{
   align-items: center;
   display: flex;
   justify-content: center;
   text-align: center;
   line-height: 30px;
   font-size: 30px;
}
.head #titulo{

   align-items: center;
   display: flex;
   justify-content: center;
   color: black;
   font-family: 'Lobster', cursive;
   font-size: 35px;
}

.menu{
   border: 2px solid black;
   background-color: #a2e5f2;
   border-radius: 10px;
   margin: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.menu #opciones{
   background-color: rgb(0, 0, 0) transparent;
   

}
.menu #redes{
   background-color: rgb(0, 0, 0) transparent;
   
}
.menu #opciones ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}
.menu #opciones li{
   float: left;
   padding-right: 25px;
}
.menu #opciones li a{
   display: block;
   text-align: center;
   padding: 15px 35px;
   text-decoration: none;
   font-family: 'Lobster', cursive;
   color: black;
   font-size: 30px;
   
   

}
.menu #redes ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}
.menu #redes li{
   float: left;
   padding-left: 10px;
}
.menu #redes li a{
   display: block;
   text-align: center;
   padding: 5px;
   text-decoration: none;
}
.menu #redes li a img{
   margin: 5px;   
}
.menu #opciones li a:hover {
   background-color: #5ADBF4;
   color: black;
}
.menu #redes li a:hover {
   background-color: #5ADBF4;
   color: black;
}

.dato{
   width: 95%;
   margin: 20px;
   padding: 20px;
   background-color: #f2aecb;
   border-radius: 25px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   font-family: 'Lobster';
   align-items: center;
   border: 2px solid black;
   margin: auto;
   }
.dato img{
   width: 50%;
   height: auto;
   border-radius: 25px;
   margin: 25px;
   align-items: center;
   border: 2px solid black;
}
.dato h2{
   font-size: 45px;
   margin: 20px;
}
.dato .texto{
   text-align: justify;
   font-size: 35px;
   margin: 20px;
}
.dato div{
   margin: 25px;
}
.dato hr{
   border-color: black;
}

.menu_gen{
   width: 95%;
   background-color: #efb1a5;
   display: flex;
   flex-direction: column;
   margin: auto;
   border-radius: 20px;
   margin-top: 25px;
   border: 2px solid black;
   justify-content: stretch;
   font-family: 'Lobster';

}
.menu_gen h2{
   text-align: center;
   margin: 30px;
   font-size: 85px;
}
.comida ul {
   text-align: left;
   font-size: 35px;
   list-style: none;
   padding: 20px;
   margin: 25px;
}
.comida h2{
   font-size: 60px;
}
.comida h3{
   padding: 20px;
   margin: 20px;
   font-size: xx-large;
}
.comida h4{
   margin: 10px;
   font-size: 50px;
}
.crepas h3{
   font-size: 60px;
}
.comida{
   background-color: #f3c4bb;
   margin: 35px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black ;
   text-align: center;
   justify-content: center;
   align-content: stretch;
}
.comida h2{
   width: 96%;
}
.comida div{
   background-color: #fbeae6;
}
.bebidas{
   background-color: crimson;
   margin: 20px;
   border-radius: 20px;
}
.fresas{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid black;
   flex: auto;

}
.fresas h3{
   padding: 20px;
}
.duraznos{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid black;
   flex: auto;


}
.crepas{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: center;
   flex: auto;
}
.crepas h3{
   width: 95%;
}
.extras{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid black;
   flex: auto;


}
.pasteleria{
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid black;
   flex: auto;
}
.pasteleria img{
   width: 70%;
   margin: 10px;
   height: 45%;
   border-radius: 20px;
}
.crepas img{
   height: 350px;
   border-radius: 20px;
   margin: 50px;

}